<div>
    <input type="file" nwworkingdir="' + Settings.defaultDirectory + '" id="openFile" style="visibility:0; position:fixed; top:-100px;">
    <button class="btn" id="settingsBtn">
        <i class="icon-cogs"></i>
    </button>
    <button class="btn" id="openBtn">
        <i class="icon-folder-open"></i>
    </button>
    <h1>
        <span class="titleCase">
            Documentor
        </span>
        <br/><input type="search" id="searchBox" placeholder=" Search ..." value="{{sessionGet 'search'}}">
    </h1>
    <ul class="unstyled inline docs">
    </ul>
</div>